<a href="https://colab.research.google.com/github/Tanbeer191/learning/blob/main/starting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks = int(input("Input a number between 0 and 100:"))

print("Your grade:")
if marks < 50:
  print("U")
elif marks > 50 and marks < 69:
  print("Pass")
elif marks > 70 and marks < 89:
  print("Merit")
elif marks > 90 and marks < 100:
  print("Distinction")
else:
  print("Invalid Score!")

Input a number between 0 and 100:70
Your grade:
Invalid Score!

In [1]:
! python --version

Python 3.7.15

In [2]:
print("Hello World")

Hello World

In [5]:
words = "Hello World"
long_words = """ Thousands of
                  Hello World """
two_long_words = "Thousands of \n Hello World"

print(two_long_words)

Thousands of
 Hello World

In [7]:
a = 3
b = a
print(b)

3

In [10]:
x = 1.5
y = 3+2j

print(type(a), type(x), type(y))

3
<class 'int'> <class 'float'> <class 'complex'>

In [31]:
tuple = (5, 6, 23, 4.5, "a", "html", (3, 4, 5), "end")

x = [5, 6, 23, 4.5, "a", "html", (3, 4, 5), "end"]

x[1] = "change" # changing the value of the 2nd item of the list

# dictionary
# x = (
#     "5": "This is 5"
#   "a": "This is a"
#    "end": 0
#)

In [28]:
a = 10
while a > 0:
  print(a)
  a = a -1

10
9
8
7
6
5
4
3
2
1

In [29]:
a = 10
for i in range(a):
  print("i is", i)
  print("a is", a)

i is 0
a is 10
i is 1
a is 10
i is 2
a is 10
i is 3
a is 10
i is 4
a is 10
i is 5
a is 10
i is 6
a is 10
i is 7
a is 10
i is 8
a is 10
i is 9
a is 10

In [36]:
a = input("Please type a number:")
if type(a) is int:
  print("integer", a)
elif type(a) is str:
  print("string", a)
else:
  print(type(a))

Please type a number:13
string 13

In [37]:
a,b = 1,2
if a == 1 and b == 3:
  print(a + b)
elif a == 1 or a == 3:
  print(a - b)
else:
  print(a * b)

-1

In [45]:
def my_func(a,b):
  print("I am returning square numbers")
  return a**2,b**2

result = my_func(4,7)
print(result)

I am returning square numbers
(16, 49)

In [ ]:
from math import sin, pi

result = sin.degrees(30)
print(result)

In [149]:
nums = [6,4,3,1,54,93, 23]
target = 29

x = 0
y = 1

z = x + y

while True:
  result = nums[x] + nums[x + y]
  if result == target:
      print([x, x + y])
      break
  elif x + y != len(nums) - 1:
        y = y + 1
  elif x + y == len(nums) - 1:
    x = x + 1
    y = 0

[0, 6]